<div class="container-fluid mt-4" style="padding-left: 16.5%; padding-right: 1.5%;">
    <!--Add Edit Form-->
    <div class="row">
        <div class="col-sm-12">
            <h3 *ngIf="currentForm == 'Add'" class="c_page_title">Add Business</h3>
            <h3 *ngIf="currentForm == 'Edit'" class="c_page_title">Edit Business</h3>
            <form [formGroup]="addEditForm" class="mt-4 add_edit_form">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <label for="name">
                            <span>Name</span>
                            <input type="text" id="name" formControlName="name">
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['name'] && 
                            addEditFormControls['name'].errors && 
                            addEditFormControls['name'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="contactNumber">

                            <span>Contact Number</span>
                            <input type="string" id="contactNumber" [maxlength]="10" formControlName="contactNumber">
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['contactNumber'] && 
                            addEditFormControls['contactNumber'].errors && 
                            addEditFormControls['contactNumber'].errors['required']">
                            This field is required.
                            </span>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['contactNumber'] && 
                            addEditFormControls['contactNumber'].errors && 
                            addEditFormControls['contactNumber'].errors['pattern']">
                            Only numeric values allowed.
                            </span>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['contactNumber'] && 
                            addEditFormControls['contactNumber'].errors && 
                            !addEditFormControls['contactNumber'].errors['pattern'] &&
                            addEditFormControls['contactNumber'].errors['minlength']">
                            {{ addEditFormControls['contactNumber'].errors['minlength']['requiredLength']}} digits required.
                            </span>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['contactNumber'] && 
                            addEditFormControls['contactNumber'].errors && 
                            !addEditFormControls['contactNumber'].errors['pattern'] &&
                            addEditFormControls['contactNumber'].errors['maxlength']">
                            {{ addEditFormControls['contactNumber'].errors['maxlength']['requiredLength']}} digits required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="email">
                            <span>Contact Email</span>
                            <input type="email" id="email" formControlName="email">
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['email'] && 
                            addEditFormControls['email'].errors && 
                            addEditFormControls['email'].errors['required']">
                            This field is required.
                            </span>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['email'] && 
                            addEditFormControls['email'].errors && 
                            addEditFormControls['email'].errors['email']">
                            Only email value allowed.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="password">
                            <span>Password</span>
                            <input type="password" id="password" formControlName="password">
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['password'] && 
                            addEditFormControls['password'].errors && 
                            addEditFormControls['password'].errors['required']">
                            This field is required.
                            </span>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['password'] && 
                            addEditFormControls['password'].errors && 
                            addEditFormControls['password'].errors['minlength']">
                            Minimum {{addEditFormControls['password'].errors['minlength']['requiredLength']}} characters required.
                            </span>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['password'] && 
                            addEditFormControls['password'].errors && 
                            addEditFormControls['password'].errors['maxlength']">
                            Max {{addEditFormControls['password'].errors['minlength']['requiredLength']}} characters accepted.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="confirmPassword">
                            <span>Confirm Password</span>
                            <input type="password" id="confirmPassword" formControlName="confirmPassword">
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['confirmPassword'] && 
                            addEditFormControls['confirmPassword'].errors && 
                            addEditFormControls['confirmPassword'].errors['required']">
                            This field is required.
                            </span>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['confirmPassword'] && 
                            addEditFormControls['confirmPassword'].errors && 
                            addEditFormControls['confirmPassword'].errors['unmatched']">
                            Value doesn't match with password.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="country">
                            <span>Country</span>
                            <input type="text" id="country" formControlName="country">
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['country'] && 
                            addEditFormControls['country'].errors && 
                            addEditFormControls['country'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="state">
                            <span>State</span>
                            <input type="text" id="state" formControlName="state">
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['state'] && 
                            addEditFormControls['state'].errors && 
                            addEditFormControls['state'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="city">
                            <span>City</span>
                            <input type="text" id="city" formControlName="city">
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['city'] && 
                            addEditFormControls['city'].errors && 
                            addEditFormControls['city'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="district">
                            <span>District</span>
                            <input type="text" id="district" formControlName="district">
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['district'] && 
                            addEditFormControls['district'].errors && 
                            addEditFormControls['district'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="address">
                            <span>Address</span>
                            <textarea id="address" formControlName="address" cols="25" rows="2"></textarea>
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['address'] && 
                            addEditFormControls['address'].errors && 
                            addEditFormControls['address'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="remarks">
                            <span>Remarks</span>
                            <textarea id="remarks" formControlName="remarks" cols="25" rows="2"></textarea>
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['remarks'] && 
                            addEditFormControls['remarks'].errors && 
                            addEditFormControls['remarks'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <!--//TODO: Handle file upload-->
                    <!-- <div class="col-lg-3 col-md-4">
                        <label for="logo">
                            <span>Logo: </span>
                            <input type="file" accept="image/*" formControlName="logo">
                        </label>
                    </div> -->
                </div>
                <div class="d-flex mt-3">
                    <button class="btn btn-dark" style="margin-right: 2%; width: 120px;" (click)="submit()">Submit</button>
                    <button class="btn btn-secondary rounded-0" style="width: 120px;" [routerLink]="['/businesses/list']">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <!--Business Data View-->
    <app-business-view *ngIf="currentForm == 'Edit'"></app-business-view>
</div>
