<div class="container-fluid mt-4" style="padding-left: 16.5%; padding-right: 1.5%;">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Staff</h3>
                </div>
                <div class="col-sm-6">
                    <button style="float: right;" class="btn btn-dark" [routerLink]="['/staff/add']">Add Staff</button>
                </div>
            </div>
            <br>
            <table *ngIf="fetchedTableData" datatable [dtOptions]="dtOptions" data-page-length='10'>
                <thead>
                    <tr>
                        <th>Date of Joining</th>
                        <th>Name</th>
                        <th>Mobile No.</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let staff of staffList">
                        <td>{{staff.doj | date: 'dd-MM-yyyy'}}</td>
                        <td>{{staff.name}}</td>
                        <td>{{staff.contactNumber}}</td>
                        <td>{{staff.email}}</td>
                        <td>{{staff.role}}</td>
                        <td class="actions">
                            <a (click)="delete(staff)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>