<div class="container-fluid mt-4" style="padding-left: 16.5%; padding-right: 1.5%;">
    <div class="row">
        <div class="col-sm-12">
            <h3>Dashboard</h3>
            <div class="align-items-center d-flex justify-content-center mt-4">
                <div class="card d-card-w shadow">
                    <div class="card-body text-center">
                        <span class="card-text text-bold">Total Businesses</span>
                    </div>
                    <ul class="list-group list-group-flush align-items-center">
                        <li class="list-group-item">
                            <button class="btn green-border">{{totalBusinesses}}</button>
                        </li>
                      </ul>
                </div>
                <div class="card d-card-w shadow">
                    <div class="card-body text-center">
                        <span class="card-text text-bold">Total Transactions</span>
                    </div>
                    <ul class="list-group list-group-flush align-items-center">
                        <li class="list-group-item">
                            <button class="btn green-border">{{totalTransactions}}</button>
                        </li>
                      </ul>
                </div>
                <div class="card d-card-w shadow">
                    <div class="card-body text-center">
                        <span class="card-text text-bold">Payment Collected</span>
                    </div>
                    <ul class="list-group list-group-flush align-items-center">
                        <li class="list-group-item">
                            <button class="btn green-border">₹ {{totalPaymentCollected}}</button>
                        </li>
                      </ul>
                </div>
                <div class="card d-card-w shadow">
                    <div class="card-body text-center">
                        <span class="card-text text-bold">Payment Pending</span>
                    </div>
                    <ul class="list-group list-group-flush align-items-center">
                        <li class="list-group-item">
                            <button class="btn green-border">₹ {{totalPendingPayment}}</button>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
                <!--Top major transactions table-->
    <div class="row mt-5">
        <div class="col-sm-12">
            <h4 class="text-green mb-3">Top Major Transactions This Month</h4>
                <table *ngIf="fetchedMajorTransactionThisMonthData" datatable [dtOptions]="dtOptions" data-page-length='10'>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Receipt No.</th>
                            <th>Type</th>
                            <th>Product</th>
                            <th>Quantity(Units)</th>
                            <th>Amount</th>
                            <th>Amount Due</th>
                            <th>Business</th>
                            <th>Customer</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of majorTransacionsThisMonth">
                            <td>{{transaction.date | date: 'dd-MM-yyyy'}}</td>
                            <td>{{transaction.receiptNo}}</td>
                            <td>{{transaction.type}}</td>
                            <td>{{transaction.product?.name}}</td>
                            <td>{{transaction.quantity}} ({{transaction.product?.unit}})</td>
                            <td>{{transaction.amount | number : '1.2-2'}}</td>
                            <td>{{(transaction?.amount || 0) - (transaction?.amountPaid || 0) | number : '1.2-2'}}</td>
                            <td>{{transaction.business?.name}}</td>
                            <td>{{transaction.customer?.name || '--'}}</td>
                            <td class="actions">
                                <a (click)="deleteTopMajorTransactionsInCurrentMonthTable(transaction)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div> 
    </div>
</div>