<div class="container-fluid mt-4" style="padding-left: 16.5%; padding-right: 1.5%;">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Products</h3>
                </div>
                <div class="col-sm-6">
                    <button style="float: right;" class="btn btn-dark" [routerLink]="['/products/add']">Add Product</button>
                </div>
            </div>
            <br>
            <table *ngIf="fetchedTableData" datatable [dtOptions]="dtOptions" data-page-length='10'>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Measurement</th>
                        <th>Latest Price</th>
                        <th>Remarks</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productsList">
                        <td>{{product.name}}</td>
                        <td>{{product.unit}}</td>
                        <td>
                            <div>
                                <input #priceInput type="number" style="margin-right: 2%;" step="0.01" disabled value="{{product.price || 0}}">
                                <div style="display: inline;">
                                    <i *ngIf="priceInput.disabled" (click)="priceInput.disabled=false;" style="margin-right: 3%;" class="fas fa-pen clickable"></i>
                                    <i *ngIf="!priceInput.disabled" (click)="priceInput.disabled=true;changeProductPrice(product, changeStringToNumber(priceInput.value))" style="margin-right: 3%;" class="fas fa-check text-green clickable"></i>
                                    <i *ngIf="!priceInput.disabled" (click)="resetPrice(priceInput, (product.price || 0))" class="fas fa-times text-red clickable"></i>
                                </div>
                            </div>
                        </td>
                        <td>{{product.remarks || '--'}}</td>
                        <td class="actions">
                            <a (click)="delete(product)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>