<div class="container-fluid mt-4" style="padding-left: 16.5%; padding-right: 1.5%;">
    <div class="row">
        <div class="col-sm-12">
            <h3 *ngIf="currentForm == 'Add'" class="c_page_title">Add Transaction</h3>
            <h3 *ngIf="currentForm == 'Edit'" class="c_page_title">Edit Transaction</h3>
            <form [formGroup]="addEditForm" class="mt-4 add_edit_form">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <label for="date">
                            <span>Date</span>
                            <input type="date" formControlName="date" id="date">
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['date'] && 
                            addEditFormControls['date'].errors && 
                            addEditFormControls['date'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="staff">
                            <span>Staff</span>
                            <select id="staff" formControlName="_staff">
                                <option value="">Select Option</option>
                                <option value="{{s._id}}" *ngFor="let s of renderedData?.staff">{{s.name}}</option>
                            </select>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['_staff'] && 
                            addEditFormControls['_staff'].errors && 
                            addEditFormControls['_staff'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="business">
                            <span>Business</span>
                            <select id="business" formControlName="_business">
                                <option value="">Select Option</option>
                                <option value="{{b._id}}" *ngFor="let b of renderedData?.businesses">{{b.name}}</option>
                            </select>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['_business'] && 
                            addEditFormControls['_business'].errors && 
                            addEditFormControls['_business'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="product">
                            <span>Product</span>
                            <select (change)="setProductAmount(); setProductQuantity();" id="product" formControlName="_product">
                                <option value="">Select Option</option>
                                <option value="{{p._id}}" *ngFor="let p of renderedData?.products">{{p.name}}</option>
                            </select>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['_product'] && 
                            addEditFormControls['_product'].errors && 
                            addEditFormControls['_product'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <label for="type">
                            <span>Customer</span>
                            <select id="type" formControlName="_customer">
                                <option value="">Select Option</option>
                                <option value="{{c._id}}" *ngFor="let c of renderedData?.customers">{{c.name}}</option>
                            </select>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['_customer'] && 
                            addEditFormControls['_customer'].errors && 
                            addEditFormControls['_customer'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="quantity">
                            <span>Quantity</span>
                            <input type="number" (input)="setProductAmount()" id="quantity" formControlName="quantity">
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['quantity'] && 
                            addEditFormControls['quantity'].errors && 
                            addEditFormControls['quantity'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="amount">
                            <span>Amount</span>
                            <input type="number" (input)="setProductQuantity()" min="0" id="amount" formControlName="amount">
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['amount'] && 
                            addEditFormControls['amount'].errors && 
                            addEditFormControls['amount'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="amountPaid">
                            <span>Amount Paid</span>
                            <input type="number" min="0" id="amountPaid" formControlName="amountPaid">
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['amountPaid'] && 
                            addEditFormControls['amountPaid'].errors && 
                            addEditFormControls['amountPaid'].errors['required']">
                            This field is required.
                            </span>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['amountPaid'] && 
                            addEditFormControls['amountPaid'].errors && 
                            addEditFormControls['amountPaid'].errors['greaterThanActualAmount']">
                            Paid amount cannot be greater than actual amount.
                            </span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <label for="type">
                            <span>Mode of Payment</span>
                            <select id="type" formControlName="type">
                                <option value="">Select Option</option>
                                <option value="{{t}}" *ngFor="let t of renderedData?.transactionTypes">{{t}}</option>
                            </select>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['type'] && 
                            addEditFormControls['type'].errors && 
                            addEditFormControls['type'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="receiptNo">
                            <span>Receipt No</span>
                            <input type="text" id="receiptNo" formControlName="receiptNo">
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['receiptNo'] && 
                            addEditFormControls['receiptNo'].errors && 
                            addEditFormControls['receiptNo'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="remarks">
                            <span>Remarks</span>
                            <textarea id="remarks" formControlName="remarks" cols="25" rows="2"></textarea>
                        </label>
                    </div>
                    <!--//TODO: Handle file upload-->
                    <!-- <div class="col-lg-3 col-md-4">
                        <label for="logo">
                            <span>Logo: </span>
                            <input type="file" accept="image/*" formControlName="logo">
                        </label>
                    </div> -->
                </div>
                <div class="d-flex mt-3">
                    <button class="btn btn-dark" style="margin-right: 2%; width: 120px;" (click)="submit()">Submit</button>
                    <button class="btn btn-secondary rounded-0" style="width: 120px;" [routerLink]="['/transactions/list']">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
