<div class="container-fluid mt-4" style="padding-left: 16.5%; padding-right: 1.5%">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Transactions</h3>
                </div>
                <div class="col-sm-6">
                    <button style="float: right;" class="btn btn-dark" (click)="getExcel()">Download
                        Excel</button>

                    <button style="float: right;" class="btn btn-dark mr-3" [routerLink]="['/transactions/add']">Add
                        Transaction</button>
                </div>
            </div>
            <!-- Tabs navs -->
            <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a #allTransactionsNav
                        (click)="allTransactionsNav.classList.add('active'); pendingTransactionsNav.classList.remove('active');"
                        class="nav-link active text-green" role="tab" aria-selected="true">All Transactions</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a #pendingTransactionsNav
                        (click)="allTransactionsNav.classList.remove('active'); pendingTransactionsNav.classList.add('active');"
                        class="nav-link text-green" role="tab" aria-selected="false">Pending Transactions</a>
                </li>
            </ul>
            <!-- Tabs navs -->

            <!--All transactions-->
            <section *ngIf="allTransactionsNav.classList.contains('active')">
                <ng-container *ngIf="customerId" [ngTemplateOutlet]="customer_details"></ng-container>
                <br>
                <table *ngIf="fetchedTableData" datatable [dtOptions]="dtOptions" data-page-length='10'>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Receipt No.</th>
                            <th>Type</th>
                            <th>Product</th>
                            <th>Quantity(Units)</th>
                            <th>Amount</th>
                            <th>Amount Due</th>
                            <th>Business</th>
                            <th>Customer</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of transactionsList">
                            <td>{{transaction.date | date: 'dd-MM-yyyy'}}</td>
                            <td>{{transaction.receiptNo}}</td>
                            <td>{{transaction.type}}</td>
                            <td>{{transaction.product?.name}}</td>
                            <td>{{transaction.quantity}} ({{transaction.product?.unit}})</td>
                            <td>{{transaction.amount | number : '1.2-2'}}</td>
                            <td>{{(transaction?.amount || 0) - (transaction?.amountPaid || 0) | number : '1.2-2'}}</td>
                            <td>{{transaction.business?.name}}</td>
                            <td>{{transaction.customer?.name || '--'}}</td>
                            <td class="actions">
                                <a [routerLink]="['/transactions/edit', transaction._id]">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a (click)="delete(transaction)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </section>

            <!--Pending transactions-->
            <section *ngIf="pendingTransactionsNav.classList.contains('active')">
                <ng-container *ngIf="customerId" [ngTemplateOutlet]="customer_details"></ng-container>
                <br>
                <table *ngIf="fetchedPendingTableData" datatable [dtOptions]="dtOptions" data-page-length='10'>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Receipt No.</th>
                            <th>Type</th>
                            <th>Product</th>
                            <th>Quantity(Units)</th>
                            <th>Amount</th>
                            <th>Amount Due</th>
                            <th>Business</th>
                            <th>Customer</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of pendingTransactionsList">
                            <td>{{transaction.date | date: 'dd-MM-yyyy'}}</td>
                            <td>{{transaction.receiptNo}}</td>
                            <td>{{transaction.type}}</td>
                            <td>{{transaction.product?.name}}</td>
                            <td>{{transaction.quantity}} ({{transaction.product?.unit}})</td>
                            <td>{{transaction.amount | number : '1.2-2'}}</td>
                            <td>{{(transaction?.amount || 0) - (transaction?.amountPaid || 0) | number : '1.2-2'}}</td>
                            <td>{{transaction.business?.name}}</td>
                            <td>{{transaction.customer?.name || '--'}}</td>
                            <td class="actions">
                                <a [routerLink]="['/transactions/edit', transaction._id]">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a (click)="delete(transaction)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </section>
        </div>
    </div>
</div>

<ng-template #customer_details>
    <div class="row"> 
        <div class="col-md-3">
            Total Pending Amount: {{totalPendingAmount | number : '1.2-2'}}
        </div>
    </div>
</ng-template>