<div class="container-fluid mt-4" style="padding-left: 16.5%; padding-right: 1.5%;">
    <div class="row">
        <div class="col-sm-12">
            <h3 *ngIf="currentForm == 'Add'" class="c_page_title">Add Product</h3>
            <h3 *ngIf="currentForm == 'Edit'" class="c_page_title">Edit Product</h3>
            <form [formGroup]="addEditForm" class="mt-4 add_edit_form">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <label for="name">
                            <span>Name</span>
                            <input type="text" id="name" formControlName="name">
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['name'] && 
                            addEditFormControls['name'].errors && 
                            addEditFormControls['name'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="contactNumber">
                            <span>Unit</span>
                            <select id="unit" formControlName="unit">
                                <option value="">Select Role</option>
                                <option value="KG">KG</option>
                                <option value="GRAMS">GRAMS</option>
                                <option value="PIECE">PIECE</option>
                                <option value="LITRE">LITRE</option>
                                <option value="ML">ML</option>
                            </select>
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['unit'] && 
                            addEditFormControls['unit'].errors && 
                            addEditFormControls['unit'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="remarks">
                            <span>Remarks</span>
                            <textarea id="remarks" formControlName="remarks" cols="25" rows="2"></textarea>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['remarks'] && 
                            addEditFormControls['remarks'].errors && 
                            addEditFormControls['remarks'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                </div>
                <div class="d-flex mt-3">
                    <button class="btn btn-dark" style="margin-right: 2%; width: 120px;" (click)="submit()">Submit</button>
                    <button class="btn btn-secondary rounded-0" style="width: 120px;" [routerLink]="['/products/list']">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
