<!--//INFO: HTML referenced from doctorweb app.-->
<div *ngIf="showNav" id="mySidenav" [ngClass]="shownavbar? 'toggleSideNav' : '' " class="sidenav list-group list-group-flush shadow">
    <p (click)="toggle()" class="drawer_toggle_cross" ><i class="fas fa-times"></i></p>
    <div class="sidebar_logo">
        <!--//TODO: Change logo-->  
        <img src="../../../../assets/images/sidebar_logo.jpg" class="" alt="Logo">
    </div>
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fas fa-chart-line"></i> Dashboard
    </a>
    <a [routerLink]="['/businesses/list']" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fas fa-building"></i> Businesses
    </a>
    <a [routerLink]="['/transactions/list']" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fas fa-exchange-alt"></i> Transactions
    </a>
    <a [routerLink]="['/staff/list']" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fas fa-users"></i> Staff
    </a>
    <a [routerLink]="['/products/list']" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fas fa-boxes"></i> Products
    </a>
    <a [routerLink]="['/customers/list']" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fas fa-user-tag"></i> Customers
    </a>
    <a (click)="logout()" class="list-group-item list-group-item-action">
        <i class="fas fa-sign-out-alt"></i> Logout
    </a>
</div>
<p *ngIf="showNav" (click)="toggle()" class="drawer_toggle_icon" ><i class="fas fa-bars"></i></p>