.card-header {
    background-color: transparent;
    text-align: center;
    border: 0;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3f8d16;
    padding: 0;
}
.login_form label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}
.login_form input {
    border-radius: 0;
    border: 1px solid #ddd;
    padding: 8px 10px;
}
.form-control:focus {
    box-shadow: none;
    border-color: #3f8d16 !important;
}