    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div><img src="../../../../assets/images/sidebar_logo.jpg"></div>
            </div>
            <div class="col-md-8">
                <div class="card border-0">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form [formGroup]='loginFrom'  (ngSubmit)='submit()' class="login_form">
                            <div class="form-group row mt-2 justify-content-center">
                                <div class="col-md-8">
                                    <div class="mb-3">
                                        <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                        <input type="text" class="form-control" formControlName="email" autofocus>
                                    </div>
                                    <div>
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" name="password" formControlName="password">
                                    </div>
                                    <button type="submit" class="btn btn-dark mt-4 d-block m-auto" style="width: 120px;">Login</button>
                                </div>
                            </div>
                               
                                <!-- <a href="#" class="btn btn-link">
                                    Forgot Your Password?
                                </a> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
