<div class="container-fluid mt-4" style="padding-left: 16.5%; padding-right: 1.5%">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Businesses</h3>
                </div>
                <div class="col-sm-6">
                    <button style="float: right;" class="btn btn-dark" [routerLink]="['/businesses/add']">Add Business</button>
                </div>
            </div>
            <br>
            <div>
            <table *ngIf="fetchedTableData" datatable [dtOptions]="dtOptions" data-page-length='10'>
                <thead>
                    <tr>
                        <th>Business Name</th>
                        <th>Contact Number</th>
                        <th>Contact Email</th>
                        <th>State</th>
                        <th>City</th>
                        <th>District</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let business of businessesList">
                        <td>{{business.name}}</td>
                        <td>{{business.contactNumber}}</td>
                        <td>{{business.email}}</td>
                        <td>{{business.state}}</td>
                        <td>{{business.city}}</td>
                        <td>{{business.district}}</td>
                        <td class="actions">
                            <!-- <a [routerLink]="['/businesses/edit/{{business._id}}']">
                                <i class="far fa-eye"></i>
                            </a> -->
                            <a (click)="delete(business)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
            <br>
        </div>
    </div>
</div>