<div class="container-fluid mt-4" style="padding-left: 16.5%; padding-right: 1.5%;">
    <div class="row">
        <div class="col-sm-12">
            <h3 *ngIf="currentForm == 'Add'" class="c_page_title">Add Customer</h3>
            <h3 *ngIf="currentForm == 'Edit'" class="c_page_title">Edit Customer</h3>
            <form [formGroup]="addEditForm" class="mt-4 add_edit_form">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <label for="name">
                            <span>Name</span>
                            <input type="text" id="name" formControlName="name">
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['name'] && 
                            addEditFormControls['name'].errors && 
                            addEditFormControls['name'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="contactNumber">

                            <span>Contact Number</span>
                            <input type="text" pattern="^[0-9]*$" [maxlength]="10" id="contactNumber" formControlName="contactNumber">
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['contactNumber'] && 
                            addEditFormControls['contactNumber'].errors && 
                            addEditFormControls['contactNumber'].errors['required']">
                            This field is required.
                            </span>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['contactNumber'] && 
                            addEditFormControls['contactNumber'].errors && 
                            addEditFormControls['contactNumber'].errors['pattern']">
                            Only numeric values allowed.
                            </span>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['contactNumber'] && 
                            addEditFormControls['contactNumber'].errors && 
                            !addEditFormControls['contactNumber'].errors['pattern'] &&
                            addEditFormControls['contactNumber'].errors['minlength']">
                            {{ addEditFormControls['contactNumber'].errors['minlength']['requiredLength']}} digits required.
                            </span>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['contactNumber'] && 
                            addEditFormControls['contactNumber'].errors && 
                            !addEditFormControls['contactNumber'].errors['pattern'] &&
                            addEditFormControls['contactNumber'].errors['maxlength']">
                            {{ addEditFormControls['contactNumber'].errors['maxlength']['requiredLength']}} digits required.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="email">
                            <span>Contact Email</span>
                            <input type="email" id="email" formControlName="email">
                            
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['email'] && 
                            addEditFormControls['email'].errors && 
                            addEditFormControls['email'].errors['required']">
                            This field is required.
                            </span>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['email'] && 
                            addEditFormControls['email'].errors && 
                            addEditFormControls['email'].errors['email']">
                            Only email value allowed.
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <label for="business">
                            <span>Business</span>
                            <select id="business" formControlName="_business">
                                <option value="">Select Option</option>
                                <option value="{{b._id}}" *ngFor="let b of businesses">{{b.name}}</option>
                            </select>
                            <span class="text-danger" *ngIf="submitted &&
                            addEditFormControls['_business'] && 
                            addEditFormControls['_business'].errors && 
                            addEditFormControls['_business'].errors['required']">
                            This field is required.
                            </span>
                        </label>
                    </div>
                </div>
                <div class="d-flex mt-3">
                    <button class="btn btn-dark" style="margin-right: 2%; width: 120px;" (click)="submit()">Submit</button>
                    <button class="btn btn-secondary rounded-0" style="width: 120px;" [routerLink]="['/staff/list']">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
