<div class="container-fluid mt-4" style="padding-left: 16.5%; padding-right: 1.5%;">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Customers</h3>
                </div>
                <div class="col-sm-6">
                    <button style="float: right;" class="btn btn-dark" [routerLink]="['/customers/add']">Add Customer</button>
                </div>
            </div>
            <br>
            <table *ngIf="fetchedTableData" datatable [dtOptions]="dtOptions" data-page-length='10'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mobile No.</th>
                        <th>Email</th>
                        <th>Pending Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let staff of staffList">
                        <td>{{staff.name}}</td>
                        <td>{{staff.contactNumber}}</td>
                        <td>{{staff.email}}</td>
                        <td>{{staff.pendingAmount | number : '1.2-2'}}</td>
                        <td class="actions">
                            <a (click)="delete(staff)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            |
                            <a (click)="userTranscations(staff)" title="transactions" >
                                <i class="fas fa-exchange-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>